/* Google fonts import */

<style>@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
</style>

/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling for body  */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    /* General styling for project */

    color: black;
    font-family: 'Dosis', sans-serif;

}


header {
    background-color: aqua;
}

main {
    background-color: rgb(187, 255, 0);
    /* Make main element take up any surplus space to push footer down */
    /* Taken from walkthrough project */
    flex: 1 0 auto;
}

footer {
    background-color: blue;
}