/* Google fonts import */

<style>@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Fjalla+One&display=swap');

</style>
/* Override default styles added by the browser */

/* ???????????????WHY IS THERE WHITE SPACE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling for body  */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General styling for project */
    color: black;
    font-family: 'Dosis', sans-serif;
}

/* Header */
header {
    background-color: yellow;
    width: 100% padding: 0 1rem;
    /*what if i comment the below out*/
    position: fixed;
    z-index: 99;
    /* todo: why?????*/
    width: 95%;
    box-shadow: 0 2px 4px #fc9d03;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {

    color: orange;
}

h1 {

    font-family: 'Fjalla One', sans-serif;
    color: orange;
}



#menu {
    font-size: larger;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    text-decoration: underline;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: yellow;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #f3a005;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
    color: orange;
}

/* Main content */
main {
    background-color: lightgreen;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /*fix error as per tutorial*/
    margin-top: 75px;

}

/* Footer */
footer {
    background-color: rgb(255, 0, 43);
}

/* Media query: tablets and larger  */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: inline-block;
        position: relative;
        width: fit-content;
        box-shadow: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {

        padding: 2rem;
    }

        .nav-toggle-label {
            display: none;
        }
}